.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
/* For IE 6/7 (trigger hasLayout) */
.clearfix { *zoom: 1; } 

body {
	background: #ebebeb;
	font-family: $font-family-base;
	font-size: $font-size-base;
}
h1 {
	margin-bottom: 10px;
	font-size: 3em;
	line-height: 1.2em;
	font-weight: bold;
	color: $primary-color2;
}
h1.home-title {
	font-size: 1.8em;
	line-height: 1.2em;
}
h2,h3 {
	font-size: 1.8em;
	line-height: 1.4em;
	font-weight: bold;
	color: $primary-color2;
}
h2 {
	margin-bottom: 10px;
}
h3 {
	color: #000;
}
h4, h5 {
	font-size: 1.4em;
	font-weight: bold;
}
p, ol, ul, 
.action-link {
	font-size: 1.4em;
	line-height: 1.4em;
}
ul ul {
	margin: 10px 0 0 20px;
	font-size: 1em;
}
.action-link-sm {
	font-size: 1.2em;
}
p {
	margin: 10px 0;
}
a, a:hover, a:visited, a:active {
	color: $link-color;
	cursor: pointer; 
	cursor: hand;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
ol {
	list-style: decimal;
}
ul {
	list-style: none;
}
ul li {
	background: image-url('bullet.png') no-repeat 0 6px;
	padding-left: 16px;
	margin-bottom: 8px;
}
ul.list-unstyled li {
	padding-left: 0;
	background: none;
}
ol li, 
ul li {
	list-style-position: inside;
}
ol li {
	margin-bottom: 8px;
}
dl {
	margin: 20px 0;
}
dt {
	float: left;
    clear: left;
	margin-right: 10px;
    font-weight: bold;
}
dt, dd {
	margin-bottom: 5px;
}
dd:after {
    content: '';
    display: block;
    clear: both;
}
small { 
    font-size: smaller;
}
.hide-text {
	text-indent: -9999px;
	position: absolute;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.center-content {
	text-align: center;
}
.nowrap {
	white-space: nowrap;
}
.skipnav { 
	display: none;
}
.no-margins {
	margin: 0 0 0 0;
}
.hr-bottom {
	border-bottom: 2px solid #fff;
}
.accessible-megamenu .accessible-megamenu-panel ol > li.hr-bottom {
	padding-bottom: 8px;
}
.clear-float {
	clear: both;
}