.carousel-wrapper {
	width: 870px;
	padding: 0 15px;
}
.slider {
	padding: 20px 15px;
	background: #093858;
	
	h2 {
		color: $accent-color2;
	}

}

.carousel-row {
	h2 {
		margin-bottom: 0;
		padding-left: 25px;
	}
}

.article-page {
	.carousel-row {
		.col-md-12 {
			padding-left: 0;
			padding-right: 0;
			position: relative;
			left: 20px;
			
			h2 {
				position: relative;
				left: -25px;
				color: $primary-color2;
			}
		}
	}
}

.carousel {
	
	.slide {
		width: 150px;
		height: 175px;
		margin: 0 auto;
		text-align: center;
		font-size: 1.4em;
		line-height: 1.3em;
		
		a, a:hover, a:visited, a:active {
			color: $accent-color1;
		}
		
		a.icon-img {
			display: block;
			margin-bottom: 10px;
			border-bottom: 2px solid $accent-color2;
			overflow: hidden;
			
			.overflow-container {
				width: 150px;
				height: 80px;
				margin-bottom: 10px;
				overflow: hidden;	
			}
			
			img {
				margin: 0 auto;
			}
		}
		.img-container {
			margin-bottom: 10px;
		}
	}
}

.bx-wrapper {	
	clear: both;
	
	.bx-viewport {
		box-shadow: none;
		border: 0;
	}
	.bx-loading {
		background: image-url('bx_loader.gif') center center no-repeat #fff;
	}
}
.carousel-row .bx-wrapper {	

	padding:  40px 0;
	margin-left: 36px !important;
	
	.bx-controls-direction a {
		height: 35px;
		margin-top: -15px;
	}
	.bx-prev {
		left: -40px;
		background: image-url('carousel-arrows.png') top left no-repeat;
		
		&:hover {
			background-position: bottom left;
		}
	}
	.bx-next {
		right: -35px;
		background: image-url('carousel-arrows.png') top right no-repeat;
		
		&:hover {
			background-position: bottom right;
		}
	}
	.bx-controls-auto .bx-stop {
		background: image-url('controls.png') -86px -11px no-repeat;
	}
	.bx-controls-auto .bx-stop {
		background: image-url('controls.png') -86px -44px no-repeat;
	}
}

.hp-carousel .bx-wrapper {	
	.slide {
		height: 196px;
		
		a.icon-img {
			height: 150px;
			border-bottom: 3px solid #f5c670;
			
			.overflow-container {
				height: auto;
			}
		}
	}
	.bx-controls-direction a {
		margin-top: -40px;
	}
}

.slide-more {
	display: none;
	position: absolute;
	top: 0px;
	left: 0;
	width: 150px;
	height: 175px;
	padding: 8px;
	border-radius: 10px;
	background: $accent-color1;
	
	.title {
		font-size: .8em;
		color: #fff;
		text-transform: uppercase;
	}
	p {
		font-size: .8em;
		line-height: 1.2em;
		color: #fff;
	}
}

// IMAGE SLIDERS

.hp-img-slider {
	height: 280px;
	overflow: hidden;
}

.hp-img-slider,
.cta-img-slider {
	.bx-wrapper {
		margin-bottom: 0;
	}
	.bx-viewport {
		z-index: 1;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #fff;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		color: #ccc;
		z-index: 10;
	}
}

.hp-img-slider,
.cta-img-slider,
.hp-slides-row {
	.btn-primary {
		font-size: 1.4em;
	}
}

.hp-img-slider,
.hp-slides-row {

	h2 {
		font-size: 1.6em;
		color: $accent-color2;
	}
	p {
		font-size: 1.3em;
		line-height: 1.4;
	}
	.img-slide-container {
		float: left;
		width: 66%;
		height: 280px;
		overflow: hidden;
		border-radius: 15px 0 0 0;
	}
	.img-slide-content {
		float: left;
		width: 33%;
		height: 280px;
		padding: 10px;
		overflow: hidden;
		background: $primary-color1;
		color: #fff;
		border-radius: 0 15px 0 0;
		border-left: 3px solid #fff;
	}
	.top-content {
			height: 210px;
			overflow: hidden;
		}
	.button-row {
		text-align: center;
	}
	.btn-primary {
		margin-left: auto;
		margin-right: auto;
	}
	.bx-pager.bx-default-pager {
		position: absolute;
		bottom: 10px;
		right: 0;
		width: 35%;
		z-index: 10;
	}
}

.cta-img-slider {
	
	h2 {
		font-size: 1.8em;
		color: $accent-color2;
	}
	p {
		font-size: 1.6em;
	}
	.img-slide-container {
		height: 275px;
		overflow: hidden;
		
		img {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.gradient {
		width: 100px;
		height: 400px;
		position: relative;
		left: 280px;
		z-index: 5;
		background: image-url('cta-gradient.png') repeat-y transparent;
	}
	.img-slide-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 280px;
		height: 275px;
		padding: 35px 25px;
		overflow: hidden;
		background: #000;
		color: #fff;
		
		.top-content {
			max-height: 210px;
			overflow: hidden;
		}
		
	}
	.bx-viewport {
		border-bottom: 5px solid $accent-color2;
		border-radius: 15px 15px 0 0;
		overflow: hidden;
	}
	.bx-pager.bx-default-pager {
		position: absolute;
		bottom: 30px;
		left: 25px;
		width: 280px;
		z-index: 10;
		
		.bx-pager-item {
			float: left;
		}
	}
	.btn-primary {
		margin-left: 0;
	}
}

.bx-wrapper img {
	max-width: inherit;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: transparent;
	border: 2px solid #fff;
}

/* HP Slides - Low Bandwidth */

.hp-slides-row {
	.slide {
		position: relative;
		width: 227px;
		height: 280px;
		float: left;
		padding: 10px;
		margin: 0 10px 10px 0;
		background: $primary-color1;
		color: #fff;
		
		&.last {
			margin-right: 0;
		}
		
		.button-row {
			position: absolute;
			width: 100%;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 15px;
			text-align: center;
		}
	}		
}