
@media (min-width: 992px){
	.container {
	  width: 980px;
	}
	.cta-highlight .col-md-4:nth-child(3) img {
		float: right;
	}
}
@media (min-width: 1200px){
	.container-wide {
	  width: 1110px;
	}
}
@media (max-width: 991px){
	.tagline-wrapper {
		margin-top: 60px;
		font-size: 1.4em;
	}
	.cta-highlight .btn-primary,
	.cta-highlight h2 {
		margin-bottom: 20px;
		text-align: center;
	}
}
@media (max-width: 991px) and (min-width: 540px ){
	.time-block .count {
	  width: 80px;
	}
}
@media (max-width: 865px) {
	.carousel-row .bx-wrapper {
		width: 510px ;
	}
}
@media (max-width: 991px) and (min-width: 767px) {
	.main-nav .accessible-megamenu {	
		h2 {
			font-size: 1em;
		}
		.accessible-megamenu-top-nav-item a[aria-haspopup] {
			width: 106px;
			padding-left: 10px;
		}
		.accessible-megamenu-top-nav-item {
			height: 70px;
		}
		.accessible-megamenu-panel.open {
			top: 70px;
		}
		.accessible-megamenu-panel.cols-3 {
			width: 744px;
		}
		.nav-pointer {
			left: 40px;
		}
		.nav-2 .accessible-megamenu-panel {
			left: 0;
		}
		.nav-3 .accessible-megamenu-panel {
			left: -72px;
		}
		.nav-3 .nav-pointer {
			left: 112px;
		}
		.nav-4 .accessible-megamenu-panel {
			left: -178px;
		}
		.nav-4 .nav-pointer {
			left: 218px;
		}
		.nav-5 .accessible-megamenu-panel {
			left: -284px;
		}
		.nav-5 .nav-pointer {
			left: 320px;
		}
		.nav-6 .accessible-megamenu-panel {
			left: -390px;
		}
		.nav-6 .nav-pointer {
			left: 430px;
		}
		.nav-7 .accessible-megamenu-panel {
			left: -496px;
		}
		.nav-7 .nav-pointer {
			left: 534px;
		}
		.accessible-megamenu-panel.cols-3 .last-col {
			float: right;
			width: 474px;
			margin-left: 15px;	
			padding: 20px 15px;
			background: #fef9f0;
			border-top: 2px dotted #f6be53;
			border-bottom: 2px dotted #f6be53;
			
		}
		.accessible-megamenu-panel.cols-3 {
			.col-2 {
				width: 46%;
				float: left;
				margin-right: 4%;
			}
		}
	}
	.carousel-row .bx-wrapper {
		width: 650px !important;
		
		.slide {
			margin-right: 16px !important;
		}
	}
	.bx-wrapper .slide,
	.hp-carousel.carousel-row .bx.wrapper .slide {
		margin-right: 16px !important;
	}
	.bx-wrapper,
	.hp-carousel .bx-wrapper {
		width: 660px !important;
	}
	
}	
	
@media (max-width: 767px){

	.page-header {
		height: auto;
		
		.logo img {
			width: 110%;
		}
		.tagline-wrapper {
			margin-top: 44px;
			margin-left: 20px;
			font-size: 1.2em;
		}
		.search-wrapper {
			top: 48px;
		}
	}
	.main-nav {
		height: auto;
	}
	.main-nav .accessible-megamenu {
		margin-bottom: 15px;
		padding: 5px 0 0 0;
		background: none repeat scroll 0% 0% #326188;

		.accessible-megamenu-top-nav-item {
			float: none;
			height: auto;
		}
		
		.accessible-megamenu-panel,
		.accessible-megamenu-panel.open {	
			position: static;	
			-webkit-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
			-moz-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
			-ms-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
			-o-transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
			transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s, top 0s linear 0s;
			
			box-shadow: inset 1px 0 0 #fff;
		}
		
		.accessible-megamenu-panel.cols-2,
		.accessible-megamenu-panel.cols-3 {
			position: static;
			width: 100%;
			padding: 0 0 0 0;
			background-image: none;
			background: #fff;
			
			.nav-pointer {
				display: none;
			}
		}
		
		.accessible-megamenu-panel.cols-2 {
			.title {
				margin-bottom: 0;
			}
		}
		
		.accessible-megamenu-top-nav-item {
			float: none;
			padding: 5px 0 0 0;
			border-bottom: 1px solid #1e4376;
			height: auto;

			&:focus {
				background: #305e87;
			}
			
			a[aria-haspopup] {
				width: auto;
				text-align: left;
			}
			a[aria-haspopup] {
				height: auto;
			}
			.accessible-megamenu-panel.cols-3 {
				padding-top: 0;
				
				.side-col,
				.center-col {
					width: 100%;
				}
				.side-col {
					background: #fdf4e2;
				}
				.side-col:first-child {
					background: #e5f1f8;
				}
				.col-2 {
					width: 46%;
					float: left;
					margin-right: 4%;
				}
				
			}
			
			.accessible-megamenu-panel > ol > li {

				margin: 0;
				padding: 10px;
			}
			.accessible-megamenu-panel.cols-2 {
				
				.side-col {
					float: right;
				}
				.img-wrapper {
					position: static;
				}
			}
			.menu-toggle a:focus {
			    outline:  2px solid rgba(34, 95, 215, 0.3);
			    -moz-outline-radius: 3px;
			    text-shadow: none;
			}
		}
	}
	.locator {
		margin-top: 40px;
	}
	#alertbox .alertbox-wrapper {
		margin-left: auto !important;
		width: 100% !important;
		height: auto !important;
	}
	
}
@media (max-width: 600px){
	.main-nav .accessible-megamenu {
		.accessible-megamenu-panel.cols-2 > ol > li {
			width: 100%;
		}
		.accessible-megamenu-top-nav-item .accessible-megamenu-panel.cols-2 .side-col {
			float: none;
			width: 100%;
			clear: both;
			background: #fdf4e2;
			
			p {
				margin-left: 0;
				text-align: center;
			}
			
			.img-wrapper {
				display: none;
			}
		}	
	}
	.cta-block {
		width: 100%;
		float: none;
		
		&.right {
			margin-left: 0;
		}
	}
	.carousel-row .bx-wrapper {
		width: 330px ;
	}
	.hp-img-slider {
	
		height: auto !important;
		
		.bx-viewport {
			height: 190px !important;
			border-radius: 15px 15px 0 0;
		}
		.top-content {
			height: 105px !important;
			margin-bottom: 15px;
		}
		.img-slide-container {
			display: none;
		}
		.img-slide-content {
			border-left: 0;
		}
		.img-slide-content,
		.bx-pager.bx-default-pager {
			width: 100%;
		}
	}
	
	.cta-img-slider {
		.bx-viewport {

		}
		.top-content {

		}
		.img-slide-container {
			display: none;
		}
		.img-slide-content {
			position: static;
		}
		.img-slide-content,
		.bx-pager.bx-default-pager {
			width: 100%;
		}
	}
	.cta-banner {
		.icms-content {
			clear: both;
			float: none;
		}
		.img-container-large {
			float: none;
			margin: 0 auto;
		}
		.button-row {
			text-align: center;
		}
	}
	.col-xxs-10 {
		width: 100%;
		
		.pseudo-label.text-right {
			margin-bottom: 0;
			text-align: left;
		}
	}
	
	.form-row {
		label {
			text-align: left;
		}
		.control-input {
			margin-left: 0;
		}
	}
	
}
@media (max-width: 698px){
	.page-header {
		.col-xs-2 {
			min-width: 106px;
		}
		.col-xs-4,
		.col-xs-6 {
			width: 75%;
		}
		.logo {
			margin: 30px 0;
		
			img {
				width: 125%;
			}
		}
		.tagline-wrapper {
			margin-top: 32px;
			font-size: 1.2em;

		}
		.search-wrapper {
			top: 0;
			float: left;
			margin-left: 20px;
			
			label {
				margin-bottom: 5px;
				margin-left: 4px;
			}
			input[type="text"] {
				height: 24px;
			}
			.btn-go {
				height: 24px;
				
				i {
					top: -5px;
				}
			}
		}
	}	
}
@media (max-width: 444px){
	.page-header {
		.col-xs-4 {
			width: 66.6%;
		}
		.col-xs-6 {
			width: 100%;
		}
		.logo {
			margin: 30px 0 0;
		}
		.tagline-wrapper {
			margin-top: 40px;
		}
		.search-wrapper {
			top: 0;
			float: left;
			margin-top: 20px;
			margin-left: 20px;
			
			label {
				margin-bottom: 5px;
				margin-left: 4px;
			}
			input[type="text"] {
				width: 226px;
				height: 24px;
			}
			.btn-go {
				height: 24px;
				
				i {
					top: -5px;
				}
			}
		}
	}	
	.carousel-row .bx-wrapper {
		width: 150px ;
	}
	.products-header-row .hidden-mobile {
		display: none;
	}
	.product-row {
		.col-xs-7,
		.col-xs-5 {
			float: none;
			width: 100%;
		}
		.cart-item-actions {
			clear: left;
			margin-top: 20px;
		}
		.product-quantity-section {
			
			.qty-limit {
				margin: 0 0 2px;
			}
			label {
				margin: 0 0 2px;
				text-align: center;
				text-transform: capitalize;
				font-size: 1.2em;
				line-height: 1.4em;
			}
		}
	}
	.product-row-container {
		border-left: 0;
	}
	.col-xxs-6 {
		width: 50%;
		float: left;
	}
	.col-xxs-12 {
		width: 100%;
	}
	.mobile-right {
		float: right;
	}
	.mobile-left {
		float: left;
	}
	.visible-mobile {
		display: block;
	}
	.hidden-mobile {
		display: none;
	}
	.mobile-center {
		text-align: center;
	}
	.mobile-no-float {
		float: none !important;
	}
	.row.install_foot {
		margin-left: -15px;
		
		select {
			width: 300px;
		}
		input {
			width: 260px;
		}
	}
}
@media (max-width: 360px){
	.time-block {
		margin-right: 4px;
		
		.count {
		  width: 42px;
		}
	}
	
	.category-topic {
		min-height: 100px;
		  
		&.left-column,
		&.right-column {
			margin: 0 0 40px;
		}
		
		.img-container {
			height: 100px;
			width: 100px;
			margin: 0 0 10px 10px;
		}
	}
	
	.main-nav {
		position: absolute;
	}
	
	.img-wrapper {
		img {
			width: 100%;
		}
	}
}