.page-header {
	margin: 0;
	height: 170px;
	background: #fff;
	border-bottom: 6px solid #990000;
	
	.container {
		position: relative;
		z-index: 1;
	}
	.top-nav-container {
		position: relative;
		left: -9999px;
		z-index: 100;
	}
}
.logo {
	display: block;
	margin-top: 24px;
}
.tagline-wrapper {
	margin: 54px 0 0 50px;
	font-size: 1.6em;
	z-index: 1;
	
	.tagline {
		font-family: $font-family-serif;
		font-style: italic;
		font-weight: bold;
		color: $accent-color1;
	}
	.tagline-cta {
		font-family: $font-family-narrow;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		color: #363636;
	}
}
.search-wrapper {
	float: right;
	position: relative;
	top: 72px;
	
	label {
		font-size: 1.2em;
	}
	i {
		position: relative;
		top: -2px;
		color: #fff;
		font-size: 1.6em;
	}
}

/*  TOP NAV */

.top-nav-container { 
	position: relative; 
	left: -9999px; 
}
.top-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	
	.accessible-megamenu {
		position: absolute;
		right: 0;
		z-index: 50;
		text-transform: uppercase;
		font-size: 1.1em;
		
		h2, ol {
			font-size: 1em;
		}
		.accessible-megamenu-top-nav-item {
			height: 20px;
			padding: 0;
		}
		
		.accessible-megamenu-top-nav-item {
			background: $accent-color1;
			margin-left: 2px;
			padding: 2px 8px;
	
			a, a:focus, a:hover, a:visited {
				width: auto;
				height: auto;
				padding: 0;
				color: #fff;
				background: transparent;
			}
			a:focus, a:hover {
				text-decoration: underline;
			}
			
			.accessible-megamenu-panel {
				a, a:focus, a:hover {
					color: $link-color;
				}
			}
		}
		li.accessible-megamenu-top-nav-item.inverted {
			background: #fff;
					
			a, a:focus, a:hover {
				color: $primary-color1;
				background: transparent;
			}
			a:focus, a:hover {
				text-decoration: underline;
			}
		}
		.accessible-megamenu-panel {
			min-width: 125px;
			background: #fff;
			border: 1px solid #ccc;
		}
		.dropdown {
			padding-top: 10px;
			padding-bottom: 0;
			
			li {
				background:#fff;
				text-transform: none;
				
				a, a:focus, a:hover {
					color: $link-color;
				}
			}
		}
		.fa {
			position: relative;
			top: 0;
			padding-right: 5px;
			font-size: 1.2em;
			
			&.fa-shopping-cart {
				font-size: 1.3em;
			}
			&.fa-sort-desc {
				margin-left: 8px;
				top: -2px;
				font-size: 1.3em;
				line-height: 1;
			}
		}
		.accessible-megamenu-panel.open {
			top: 20px;
			left: 0;
		}
	}
}

/* Mega Nav styles are in /mos_css/megamenu.css */

.main-nav {
	height: 80px;
}
.activeParent {
	background: $primary-color1;
}
.accessible-megamenu-panel {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.accessible-megamenu-panel-group.side-col .btn-primary {
	margin: 5px 0;
}

/* Breadcrumbs */

.nav-breadcrumbs {
	
	li {
		float: left;
		padding-left: 0;
		margin-right: 5px;
		
		a {
			padding-left: 5px;
		}
	}
	a, a:hover, a:active, a:visited {
		color: $primary-color1;
	}
	.fa {
		position: relative;
		top: 0;
		font-size: 1.2em;
	}
}