

.p_T {padding-top:$spacingunit}
.p_T_half {padding-top:$spacingunit/2}
.p_B {padding-bottom:$spacingunit}
.p_Bx2 {padding-bottom:$spacingunit*2}
.p_R {padding-right:$spacingunit}
.m_T {margin-top:$spacingunit}
.border_T_yellow {
	border-top: 2px $accent-color2 dotted;
	h4 a {color: $primary-color2}
}


.social-page{
	h2, h3 {color: $primary-color2}
	.social-text {
		min-height: 162px;

	}
	.cta-highlight{
		
		h3 {
			color: $accent-color1
		}
		.icons{
			@include clearfix;
			margin-right: -5px;
			img {
			  	width: 28px;
			  	margin-right: 5px;
			  	
			  	float: left;
			}
		}
	} 
	.addthis_toolbox {padding-top:7px;}
	.podcasts {
		.listen, .transcript{
			a {
				font-size: 1.2em;
				margin-right: 5px;
			}
				
			
		}
		i.fa{
			&.a-volume-up{font-size: 1.2em;}
			margin-right: 7px;
		}
		.row{
			border-bottom: thin dotted #ccc;
			padding-bottom: 15px;
		}
	}
	.hub_brigade {
		border-bottom: 5px solid $accent-color2;
		overflow: hidden;
		display: block;
		h3 {font-size:2.2em;} 
	}
	.webinar_date_title {
		font-size: 1.4em;
		line-height: 1.3em;
		.date {
		  font-size: .8em;
		}
	} 	

}
.bluebox {
	border: thin solid $primary-color1;
	overflow: hidden;
	padding-bottom: $spacingunit/2;
	.bluebox_head {
		padding:2px $spacingunit/2;
		background: $primary-color1;
		overflow: hidden;
		padding:2px $spacingunit/2;
		h2 {
			font-size: 1.7em;
			color: $accent-color2;
			margin-bottom: 0px;
		}
		a {
			padding-top: $spacingunit/4;
			font-weight: normal;
			color: #fff;
			width:auto;
		}
	}
	a {
		padding-top: $spacingunit/2;
		width:100%;
	}
	p {
		padding:2px $spacingunit/2;
		width:100%;
	}

}
.all-link {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
.video {
	a {
		overflow: hidden;
		
	}
	img {
		margin : 0px auto;
		
	}
	p {
		font-size: 1.2em;
		
		
	}
}
.mobile {
	
	background: url('../../mos_images/v3/mobilead.jpg') 0px 0px no-repeat transparent; 
	height: 317px;
	p {
		margin-top: 0x;
	}
}

@media (max-width: 767px) {
	.social-page {
		.social-text {
			min-height: initial;
		}
		.icons {
			margin-bottom: $spacingunit*2;
		}
		.cta-highlight{
			padding-bottom:0px;
		}
		.video{
			margin-bottom: $spacingunit;
			padding-bottom: $spacingunit/2;
			img {width: 100%;}
		}
	}
	
}




