$primary-color1: #083858; 			/* blue */
$primary-color2: #B51E25; 			/* red */
$accent-color1: #006699; 			/* light blue */
$accent-color2: #F6BE53;			/* gold */
$bg-highlight-color: #fef9f0;		/* tan */
$link-color: #0072bc;

$font-size-base: 62.5%;

$font-family-base: 'Open Sans', Arial, Sans-serif;
$font-family-serif: 'Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
$font-family-narrow: 'TradeGothicLTStd', 'Arial Narrow', Arial, sans-serif;

$spacingunit: 20px;

