@import "compass";
@import "compass/reset";
@import "_variables";
@import "_base";
@import "_header-navs";
@import "_carousel";
@import "_pca-checkout";
@import "_social";

/* page layout blocks **/

.page-body {
	min-height: 600px;
	background: image-url('bg2.png') repeat-x #fff;
}
.container {
	min-width: 320px;
}
.container-bg {
	min-height: 525px;
	padding: 20px;
	background: #fff;
	border-radius: 15px 15px 0 0;
	
	&.article-page {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.page-band {
	padding: 20px 0 20px;  /* less padding bottom to give elements margin bottom for stacking */
	background: #fff;
	border-top: 6px solid $primary-color2;
}
.page-band-inverted {
	padding: 40px 0 20px;
	background: $primary-color1;
	border-top: 6px solid $primary-color2;
}


/* page section blocks */

.section-row {
	margin-bottom: 40px;
}
.section-row-sm {
	margin-bottom: 20px;
}
.section-row-xs {
	margin-bottom: 10px;
}
.section-abstract {
	margin-bottom: 60px;
}
.section-row-top {
	margin-top: 40px;
}

.accent-border-top {
	border-top: 2px dotted $accent-color2;
}
.accent-border-bottom {
	border-bottom: 2px dotted $accent-color2;
}

.cta-highlight {
	padding: 20px 8px;
	background: #fef9f0;
	border-top: 2px dotted $accent-color2;
	border-bottom: 2px dotted $accent-color2;
	
	h2 {
		margin-bottom: 0;
		
		a {
		  color: $primary-color2;
		}
	}
	.cta-em {
		font-weight: bold;
		color: $primary-color2;
	}
	.btn-primary {
		min-width: 150px;
		padding: 0 15px;
		font-size: 1.4em;
	}
}

.title-banner {
	padding: 20px 20px 10px 20px;
	background: #fdf4e2;
	border-bottom: 5px solid $accent-color2;
	border-radius: 10px 10px 0 0;

	h2 {
		margin: 0 0 0 0;
		font-size: 2em;
		color: $accent-color1;
	}
}

.cta-banner {
	padding: 20px 20px 10px 20px;
	background: #fdf4e2;
	border-bottom: 5px solid $accent-color2;
	border-radius: 10px 10px 0 0;

	h2 {
		margin: 20px 0 15px;
		font-size: 2em;
		color: $accent-color1;
	}
	p {
		font-size: 1.6em;
	}
	&.inverse {
		background: #000;
		border-left: 1px solid #c7c8ca;
		border-top: 1px solid #c7c8ca;
		border-right: 1px solid #c7c8ca;
		
		h2 {
			font-size: 2em;
			color: #fec45b;
		}
		p {
			color: #fff;
		}
	}
	.img-col {
		padding-right: 0;
	}
	.img-container-large {
		border-bottom: 0;
		margin-bottom: 5px;
	}
	.button-row {
		margin: 20px 0 10px 0;
		font-size: 1.4em;
		
		.btn-primary {
			margin-left: 0;
		}
	}
	.icms-content {
		clear: left;
	}
}

.cta-block {
	clear: right;
	width: 300px;
	margin: 15px auto 20px;
	padding: 20px 20px;
	background: #fef9f0;
	border: 2px solid $primary-color2;
	border-left: none;
	border-right: none;
	
	p {
		font-family: $font-family-serif;
	}
	.title {
		margin: 0 0 0 0;
		font-family: $font-family-serif;
		font-size: 2.6em;
		line-height: 1;
		font-style: italic;
		font-weight: bold;
		color: $primary-color2;
	}
	&.right {
		margin-left: 20px;
	}
}

.img-container,
.img-container-large,
.hp-carousel .icon-img {
	width: 150px;
	height: 150px;
	border: 1px solid #d1d1d1;
	border-bottom: 3px solid #f5c670;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}
.img-container-large {
	width: 250px;
	height: 250px;
	margin: 0 auto 20px;
  
	&.right {
		clear: right;
		margin-left: 20px;
	}
}
.img-wrapper {
	text-align: center;
	img {
		
	}
}

/* Form styles */

label {
	display: block;
	font-size: 1.4em;
	margin-left: 5px;
	margin-bottom: 10px;
}
input[type="text"] {
	float: left;
	padding: 4px;
	height: 30px;
	background: #ebebeb;
	border: 1px solid #d7d7d7;
	border-radius: 5px 0 0 5px;	
	font-size: 1.2em;
}
select {
	margin: 4px 0;
	font-size: 1.2em;
}
input[type="button"].go,
a.btn-go {
	display: block;
	float: left;
	width: 34px;
	height: 30px;
	line-height: 36px;
	background: #bd1b21;
	border: none;
	border-radius: 0 5px 5px 0;
	text-align: center;
}
.btn-primary {
	display: inline-block;
	min-width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 18px;
	padding: 0 30px;
	border-radius: 5px;
	background: $accent-color1;
	color: #fff;
	border: none;
	font-size: 1em;
	text-align: center;
}

a.btn-primary:hover,
.btn-primary.hover {
	background: $link-color;
	text-decoration: none;
}
a.btn-primary,
a.btn-primary:hover,
a.btn-primary:visited,
a.btn-primary:active {
	color: #fff;	
}

.form-row {
	margin-bottom: 10px;
	
	label { 
		text-align: right;
		margin: 5px 0;
	}
	input {
		border-radius: 5px;
		background: #fff;
	}
	.control-input {
		margin-left: -15px;
	}
}

/* Bootstrap overrides */

.carousel-row {
	.col-md-1 {
		width: 2%;
	}
	.col-md-2 {
		width: 18%;
	}
}
.col-xs-offset-half {
	margin-left: 4.333333%;
}

.navbar-toggle {
	background: #0a3e60;
	border: 2px solid #326188;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #fff;
	border-color: #000;
}


/* Font Awesome */

@font-face {
	font-family: 'FontAwesome';
	src: url('/mos_fonts/v3/fontawesome-webfont.eot?v=4.3.0');
	src: url('/mos_fonts/v3/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('/mos_fonts/v3/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('/mos_fonts/v3/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('/mos_fonts/v3/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('/mos_fonts/v3/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Countdown Timer */

.timer-row {
	margin-top: 10px;
}
.time-block {
	float: left;
	margin-right: 8px;
	text-align: center;
	
	.count {
		position: relative;
		width: 46px;
		height: 30px;
		margin-bottom: 2px;
		font-size: 1.8em;
		line-height: 30px;
		color: #fff;
		background: $primary-color1;
		border-radius: 5px;
		zoom: 1;
		text-transform: uppercase;
	}
	
	.unit {
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 1.8em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}	
}


/* ARTICLE && CATEGORY && TOPIC PAGE */

.article-page {
	h2 {
		margin: 35px 0 0;
		color: #000;
	}
}
.article-abstract h2,
.topic-abstract h2 {
	margin-bottom: 5px;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: normal;
	color: #b52026;
}

.article-abstract p,
.topic-abstract p {
	font-size: 1.4em;
	line-height: 1.4;
	color: #000;
}

.category-topics {
	padding-right: 15px;
	
	.category-topic {
		min-height: 150px;
		margin: 0 10px 40px ;

		.topic-title {
			color: #BD1B21;
			font-size: 1.6em;
			font-weight: 700;
			line-height: 1.3;
			margin-bottom: 10px;
		}
		
		.img-container {
			margin: 0 0 10px 20px;
		}
		.read-more {
			font-size: 1.4em;
			color: #0072BC;
			display: block;
		}
		.list-unstyled li {
			margin-bottom: 6px;
		}
		
		.content-container {
			position: relative;
			padding-bottom: 2em;
		}
		.moreContent {
			display: none;
		}
		a.showMore {
			position: absolute;
			bottom: 4px;
			display: inline-block;
			padding: 5px 10px 0 0;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: uppercase;
			
			.fa-sort-asc {
				position: relative;
				top: 2px;
				left: 4px;
			}
			.fa-sort-desc {
				position: relative;
				top: -3px;
				left: 4px;
			}
		}
	}
}

/* INSTALLATION PROGRAM DIRECTORY */

.install_foot {

	margin-left: 50px;

	h2, 
	p, 
	label span.optional,
	i,
	a:link, 
	a:visited, 
	a:hover {
		color: #fff;
	}
	h2 {
		font-size: 2.0em;
	}
	i.book {
		position: absolute;
	    margin-left: -55px;
	    font-size: 2.8em;
	    color: #fff;	    
	}
	i.fa-search {
		font-size: 1.8em;
	}
	hr {
	    width: 25%;
	    margin-top: 12px;
	    margin-right: 75%;
	    margin-bottom: 12px;   
	}
	p.instructions {
		margin: 0 0 30px;
		font-size: 1.6em;
	}
	select {
		margin-top: 0;
		margin-bottom: 25px;
	}
	input {
	    width: 27em;
	    height: 30px;
	}
	br {
	    line-height: 0px;
	}
	span.optional { 
	    font-weight: normal; 
	}
	label {
	    margin-bottom: 0px;
	}
	a.btn-go {
	    height: 30px;
	}
} 
.locator {
    margin-top: -10px;
    margin-bottom: 25px;
}
.ac_results li {
	background: none;
}
.installation-popup {
	padding: 10px;
	background: #fff;
	
	td {
		vertical-align: top;
	}
	.button-list button {
		margin-bottom: 10px;
	}
	button.button-default span {
		padding-left: 6px;
	}
}


/*  EXTERNAL LINK POPUP */

#alertbox {
	
	z-index: 15000; 
	position: absolute; 
	display: none; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	border: 0px; 
	background-color: transparent;
	
	.alertbox-wrapper {
		padding: 10px;
		border: solid 4px #900; 
		background-color: #fff; 
		width: 400px; 
		height: 150px; 
		margin-left: 40%; 
		left: -200px; 
		text-align: center;
		-webkit-box-shadow: 8px 8px 106px -11px rgba(0,0,0,0.89);
		-moz-box-shadow: 8px 8px 106px -11px rgba(0,0,0,0.89);
		box-shadow: 8px 8px 106px -11px rgba(0,0,0,0.89);
	}

	#externalLinkClose,
	#externalLink {
		display: inline-block;
	}
	.content-wrapper {
		margin-bottom: 20px;
		max-height: 90px;
		overflow-y: auto;
	}
	.action-link{
		font-size: 1em;
	}
}

/*  PAGE NOT FOUND (PNF) */

.pnf-search {
	float: left;
	top: 0;
}
.pnf_txt {
	width: auto;
	
	h1 {
		margin: 80px 0 30px;
	}
	p {
		font-size: 1.6em;
	}
}

/* WEBINAR PAGES */

.img_top1 {
	margin: 0 0 20px 0;
}
.webinar-row {

	margin-bottom: 20px;
	
	.date {
		font-style: italic;
	}
	.title h3 {
		margin: 10px 0 5px;
		font-size: 1.4em;
		color: $link-color;
		font-style: italic;
	}
	.description {
		margin-top: 5px;
	}
}
.webinar-archive-page {
	h2 {
		margin: 40px 0 10px;
		color: #000;
	}
	ul.list-unstyled {
		font-size: 1em;
	}
	.fa-eye {
		margin-right: 10px;
		font-size: 1.2em;
	}
}

/* SEARCH PAGE */

.search-content-icon {
	display: block;
	position: relative;
}

.ico-content-article-lg,
.ico-content-audio-video-lg,
.ico-content-booklets-lg,
.ico-content-cds-dvds-lg,
.ico-content-military-life-lg,
.ico-content-online-learning-lg,
.ico-content-resource-guides-lg,
.ico-content-toolkits-lg {
    position: absolute;
    top: -20px;
    left: -80px;
    width: 75px;
    height: 100px;
    background: image-url('ico-search-content-lg.png') no-repeat;			
}

.ico-content-article-sm,
.ico-content-audio-video-sm,
.ico-content-booklets-sm,
.ico-content-cds-dvds-sm,
.ico-content-military-life-sm,
.ico-content-online-learning-sm,
.ico-content-resource-guides-sm,
.ico-content-toolkits-sm {
    float: left;
	position: relative;
	top: -10px;
    width: 50px;
    height: 60px;
	margin: 0 10px 0 5px;
    background: image-url('ico-search-content-sm.png') no-repeat;			
}

.ico-content-article-lg,
.ico-content-article-sm {
	background-position: 0 0;
}

.ico-content-article-sm {
	left: -4px;
}

.ico-content-audio-video-lg,
.ico-content-audio-video-sm {
	background-position: -100px 0;
}

.ico-content-booklets-lg,
.ico-content-booklets-sm {
	background-position: -200px 0;
}

.ico-content-booklets-sm {
	left: -2px;
}

.ico-content-cds-dvds-lg,
.ico-content-cds-dvds-sm {
	background-position: -300px 0;
}

.ico-content-military-life-lg,
.ico-content-military-life-sm {
	background-position: -400px 0;
}

.ico-content-online-learning-lg,
.ico-content-online-learning-sm{
	background-position: -500px 0;
}

.ico-content-resource-guides-lg,
.ico-content-resource-guides-sm {
	background-position: -600px 0;
}

.ico-content-toolkits-lg,
.ico-content-toolkits-sm {
	background-position: -700px 0;
}

/* LEADER/SERVICE PROVIDERS Page */

.leadership_main_img img,
.service_providers_main_img img {
	float: left;
	margin: 0 15px 15px 0;
}
.leadership_main_img img {
	height: 118px;
	width: 340px;
}
.title-flag-row {

	h1 {
		padding-top: 12px;
	}
	.title-flag {
		float: left;
		position: relative;
		left: -5px;
	}
}

.sitemap-page h2 {
	margin-top: 30px;
}
@import "_custom-responsive";